*{
    font-family: 'PT Serif', serif;
}


.login-form{
    margin-top: 80px;
    z-index: 10000;
    /* box-shadow:2px 2px 10px grey; */
    
}

.form-signin{
    font-family: 'Raleway', sans-serif;
    width: 370px;
    text-align: center;
    margin: 20px auto;
}




input{
    margin-top: 5px;
}
.logo{
    border-radius: 20%;
}

.logo-right{    
    z-index: 10000;
    padding: 90px 0 0 30px;
}

.dost{
    color: rgb(39, 206, 248);
    text-shadow: 1px 1px gray;
}

.pmis{
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px gray;
}

small{
   font-size: 12pt;
   margin-bottom: 50px;
}

/* Diagonal Line */
.wrap {
    position: relative;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    width: 100%;
    height: 1000px;
    overflow: hidden;
  }
  
  .bg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 700px;
    background-color:   rgb(91, 118, 236);
    transform-origin:right bottom;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg, -35deg);
    -moz-transform: skew(0deg, -35deg);
    -ms-transform: skew(0deg, -35deg);
    -o-transform: skew(0deg, -35deg);
    transform: skew(0deg, -35deg);
    /* opacity: 0.7; */
  }

   .bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 239, 98);
    transform-origin:right bottom;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg, 35deg);
    -moz-transform: skew(0deg, 35deg);
    -ms-transform: skew(0deg, 35deg);
    -o-transform: skew(0deg, 35deg);
    transform: skew(0deg, 35deg);
    /* opacity: 0.7; */
  }

  @media (max-width: 5000px) and ( min-width: 768px){
    .form-signin{
        font-family: 'Raleway', sans-serif;
        width: 370px;
        text-align: center;
        margin: 20px auto;
        

    }
    .wrap {
        position: fixed;
        background-repeat: no-repeat;
        background-size: 1000px 1000px;
        width: 100%;
        height: 1000px;
        /* overflow: hidden;     */
      }
}


@media (max-width: 384px){
    .form-signin{
        font-family: 'Raleway', sans-serif;
        width: 350px;
        text-align: center;
        margin: 20px auto;
    }
}

@media (max-width: 360px){
    .form-signin{
        font-family: 'Raleway', sans-serif;
        width: 300px;
        text-align: center;
        margin: 20px auto;
    }

    .logo-right{    
        z-index: 10000;
        padding: 90px 0 0 0px;
    }
    
}